h2.kitchen-calc{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.87);
    background-color: rgba(177, 176, 174, 0.13);
    margin: 40px 5px 0 5px;
}
h3.kitchen-calc {
    font-size: 20px;
    color:rgba(255, 255, 255, 0.87);
    background-color: rgba(177, 176, 174, 0.151);
    margin: 7px 5px 10px 5px;
}
input.kitchen-calc{
    display:inline-block;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(39, 29, 39);
    border-color:white;
    border-radius: 4px;
    
}
.calc{
    font-size: 30px;
    color:rgba(223, 226, 36, 0.87);
    margin: 7px 5px 10px 5px;
}
button.calc{
        padding: 1.25rem 2.25rem;
        margin: 20px 30px 40px 30px;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 10rem;
        color: #fff;
        background-color: #f75022;
        border-color: #f4623a;
    }
    button.calc:hover {
        background-color: #cf360c;
        border-color: #c9360e;
}