@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital, wght@0, 100;0, 200;0, 300;0, 400;0, 500;0, 600;0, 700;0, 800;1, 200 &display=swap');:root {
    font-family: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
main {
    display: block;
    text-align: center;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 17px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button -moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    color: white;
    text-align: center;
}

/*Header styles*/
header {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(126, 108, 96, 0.445) 100%), url('../img/background-start.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 800px;
}
main {
    background-color: #f4623a;
    padding: 0 0 20px;
    margin-top: 0;
    min-height: 470px;
}
.container {
    max-width: 1280px;

}
.carousel {
    margin-left: auto;
}
.carousel-item {
    align-items: center;
    max-width: auto;
    max-height: 550px;
}
.container-carousel {
    margin-top: 200px;
}
.navbar-collapse {
    justify-content: flex-start;
    width: auto;
}
.navbar-light .navbar-brand {
    font-size: 32px;
    font-weight: 600;
    color: #a8a62c;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    color: #ca4b0c;
}
@media(max-width:400px) {
    .navbar-light .navbar-brand {
        font-size: 20px;
        font-weight: 400;
    }
}
h1.furniture {
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin: 110px 0 0;
}
@media(max-width:400px) {
    h1.furniture {
        font-size: 36px;
        color: white;
        font-weight: 600;
        margin: 110px 0 0;
    }
}
span.orange {
    color: #f4623a;
    font-size: 30px;
    font-weight: 900;
}
p.first {
    color: #f8f9fa;
    font-size: 20px;
    font-weight: 500;
    margin: 37px 0 90px;
}
a.button-more {
    padding: 1.25rem 2.25rem;
    margin: 20px 30px 40px 30px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f75022;
    border-color: #f4623a;
}
a.button-more:hover {
    background-color: #cf360c;
    border-color: #c9360e;
}
a.button-calculate {
    padding: 1.25rem 2.25rem;
    margin: 20px 30px 40px 30px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f75022;
    border-color: #f4623a;
}
a.button-calculate:hover {
    background-color: #cf360c;
    border-color: #c9360e;
}
@media(max-width:600px) {
    a.button-calculate{
        display: block;
        margin-top: 30px;
        padding-bottom: 20px;
    }
}
h2.we-know {
    padding-top: 80px;
    font-size: 32px;
    font-weight: 600;
}
span.white {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}
p.nead-furnitures {
    margin-top: 100px;
}
p.second {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #f8f9fa;
    font-size: 18px;
    font-weight: 400;
}
a.button-white {
    padding: 1.25rem 2.25rem;
    margin: 20px 0 40px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: rgb(0, 0, 0);
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
a.button-white:hover {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}
.production {
    margin-top: 100px;
    text-align: center;
}
h2.studio {
    font-size: 36px;
    color: #f4623a;
    font-weight: 600;
}
span.sdi {
    color: #525151d3;
}
span.orange-two {
    color: #f4623a;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.main-cards {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(143, 143, 143, 0.726);
    margin-top: 40px;
}
.card {
    width: 300px;
    height: 350px;
    color: white;
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(19deg, #ca4b0c 0%, #f4623a 100%);
    -webkit-box-reflect: below 5px linear-gradient(transparent 60%,rgba(0,0,0,0.2));
    transition: all 0.4s;
    text-align: center;
}
.card:hover {
    transform: translateY(-10px);
}
.card:nth-child(2) {
    transform: scale(1.1);
}
.card:hover:nth-child(2) {
    transform: translateY(-10px) scale(1.1);
}
h2.cardstyle {
    position: absolute;
    font: 36px;
    transition: all 4s;
    text-align: center;
}
.card:hover h2.cardstyle {
    font-size: 5rem;
}
p.cardstyle {
    position: absolute;
    top: 80px;
    text-align: center;
    margin: 10px;
    font-size: 3rem;
}
.btn-cardsyle {
    width: 130px;
    height: 40px;
    background-color: white;
    color: rgb(65, 65, 65);
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 700;
    font-size: 1.1rem;
}

@media(max-width:600px) {
    .main-cards {
        max-width: 320px;
        height: auto;
        align-items: center;
        display: block;
        background-color: #f8f9fa;
        margin: auto;
    }
    .card {
        max-width: 270px;
        height: auto;
        display: block;
        padding: 3px;
        align-items: center;
        margin-bottom: 170px;
    }
    .gallery-works {
        color: #95a730;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.gallery-works {
    margin-top: 70px;
    margin-bottom: 30px;
    align-items: center;
    color: rgba(23, 23, 24, 0.774);
    font-size: 32px;
    font-weight: 600;
}
.footer-container {
    max-width: 1280;
    padding: 0;
    text-align: center;

}
h2.footer-project {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #f4623a;
    font-size: 24px;
    font-weight: 500;
}
span.footer-orange {
    color: #f4623a;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: -15px 0 0 0;
}
p.nead-furnitures {
    text-align: center;
    color: #696969;
    font-size: 22px;
    font-weight: 400;
    margin-top: 40px 0 40px 0;
}
img.phone-logo {
    max-width: 60px;
    max-height: auto;
}
img.e-mail-logo {
    max-width: 60px;
    max-height: auto;
}
.row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.contacts {
    color: #f4623a;
    font-size: 20px;
    font-weight: 400;
}
a.d-block {
    color: #f4623a;
    padding-bottom: 30px;
}
.footer-end {
    display: -moz-inline-grid;
    background-color: rgb(53, 53, 53);
    padding-top: 10px;
}
p.iliuk-smart-design {
    max-width: 100%;
    height: 80px;
    color: rgba(248, 147, 32, 0.87);
    text-align: left;
}
p.iliuk-smart-design-two {
    text-align: right;
    color: rgba(248, 147, 32, 0.87);
}
.contacts-address {
    color: rgba(44, 137, 243, 0.774);
    display: block;
}
.copyright {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
ul.adress {
    line-height: 1.5;
    margin: 5px;
    text-align: center;
    padding: 2px;
}
.about-us-link {
    height: 600px;
    text-align: left;
    font-size: 23px;
    color: rgb(250, 250, 250);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(126, 108, 96, 0.445) 100%), url('../img/background-start.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 20px 10px;
    letter-spacing: 2px;
    line-height: 1.5;
}
@media(max-width:600px) {
    .about-us-link {
    height: 1000px;

    font-size: 15px;
        
    }
}
h2.kitchen-calc{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.87);
    background-color: rgba(177, 176, 174, 0.13);
    margin: 40px 5px 0 5px;
}
h3.kitchen-calc {
    font-size: 20px;
    color:rgba(255, 255, 255, 0.87);
    background-color: rgba(177, 176, 174, 0.151);
    margin: 7px 5px 10px 5px;
}
input.kitchen-calc{
    display:inline-block;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(39, 29, 39);
    border-color:white;
    border-radius: 4px;
}
.calc{
    font-size: 30px;
    color:rgba(223, 226, 36, 0.87);
    margin: 7px 5px 10px 5px;
}
button.calc{
    padding: 1.25rem 2.25rem;
    margin: 20px 30px 40px 30px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f75022;
    border-color: #f4623a;
    }
    button.calc:hover {
    background-color: #cf360c;
    border-color: #c9360e;
}
